:root {
  --theme: dark;
  --border-radius: .3rem;
  --font: sans-serif;
  --dialog-radius:.5rem;
  
  /* colors name */
  --color-primary: dodgerblue;
  --color-secondary: teal;
  --color-success: lime;
  --color-danger: tomato;
  --color-warning: yellow;
}
