:root {
  --theme: dark;
  --border-radius: 0rem;
  --font: monospace;

  /* colors name */
  --color-primary: dodgerblue;
  --color-secondary: teal;
  --color-success: lime;
  --color-danger: tomato;
  --color-warning: yellow;
}
